.photographer-name {
    display: block;
    font-size: 40px;
    font-weight: bold;
}

.photographer-mapsquare {
    font-size: 20px;
}

.photographer-sentiment {
    font-size: 15px;
}

.photographer-type {
    font-size: 15px;
}

.photographer-photos {
    font-size: 30px;
    font-weight: bold;
}

.photo-list {
    font-size: 25px;
    font-weight: normal;
}
