.order-button {
    display: flex;
}

.display-box {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}

.analysis-page {
    padding: $header-height 25px $footer-height;
}

@media (max-width: 992px) {
    .analysis-page {
        padding: $header-height 0 $footer-height;
    }
}

.analysis-link,
.analysis-link:hover{
    color: black;
}
