.order-button {
    display: flex;
}

.display-box {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}

$footer-height: 150px;

@media (max-width: 992px) {
    .page {
        padding-bottom: $footer-height;
    }
}
