.about-text {
    font-size: 20px;
    padding-bottom: 30px;
}

.about-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.staff {
    text-align: center;
    margin-bottom: 60px;
}

.staff-name {
    font-size: 25px;
    font-weight: bold;
}

.staff-img {
    width: 250px;
    height: 250px;
    border-radius: 270px;
}

.students {
    padding: 0 10%;
}

.student-img {
    width: 150px;
    height: 150px;
    border-radius: 270px;
}

.student-name {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.job-title {
    color: grey;
    font-size: 18px;
}

.staff-member {
    padding: 10px;
}

.student-member {
    text-align: center;
    margin-bottom: 50px;
}

.evan-img-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.evan-img {
    border-radius: 270px;
    width: 100%;
    margin-right: 20px;
}

footer{
    height: 15vh;
}

