.about-text {
    font-size: 20px;
    padding-bottom: 30px;
}

.about-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.staff {
    text-align: center;
    margin-bottom: 60px;
}

.staff-name {
    font-size: 25px;
    font-weight: bold;
}

.staff-img {
    width: 250px;
    height: 250px;
    border-radius: 270px;
}

.students {
    padding: 0 10%;
}

.student-img {
    width: 150px;
    height: 150px;
    border-radius: 270px;
}

.student-name {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.job-title {
    color: grey;
    font-size: 18px;
}

.staff-member {
    padding: 10px;
}

.student-member {
    text-align: center;
    margin-bottom: 50px;
}

.evan-img-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.evan-img {
    border-radius: 270px;
    width: 100%;
    margin-right: 20px;
}

.about-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 18px 0 18px 18px;
    background-color: #333;
    width: 100%;
    z-index: 1061; /* Popovers have z-index 1060 */
}

.nav-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

.nav-title-small {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.about-nav-link {
    text-decoration: none;
    color: white;
    padding-right: 15px;
    font-size: 15px;
}

.nav-title:hover,
.nav-title-small:hover,
.about-nav-link:hover {
    text-decoration: none;
    color: #d3d3d3;
}

.rectangle {
    width: 25px;
    height: 4px;
    margin: 4px;
}

.hamburger {
    position: fixed;
    top: 15px;
    right: 20px;
    color: white;
    cursor: pointer;
    .rectangle {
        background-color: white;
    }
}

.hamburger:hover {
    .rectangle {
        background-color: #d3d3d3;
    }
}

.rectangle:hover {
    background-color: #d3d3d3;
}

.alternate-nav {
    background-color: #444;
    position: fixed;
    width: 100%;
    left: 0;
    top: 50px;
    padding-top: 15px;
    z-index: 1;
    text-align: left;
}

.alternate-link {
    display: block;
    color: white;
    text-decoration: none;
    margin: 20px;
}

.alternate-link:hover {
    text-decoration: none;
    color: #d3d3d3;
}

