.order-button {
    display: flex;
}

.display-box {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}

.state-buttons {
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

$footer-height: 150px;

@media (max-width: 992px) {
  .page {
      padding-bottom: $footer-height;
  }
}
