.order-button {
    display: flex;
}

.display-box {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}

.state-buttons {
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

$footer-height: 150px;

.page {
    padding: 0 $side-padding 0;
}

@media (max-width: 992px) {
    .page {
        padding: 0;
        flex: 1 0 auto;
    }
}
