.search-results {
    overflow-y: scroll;
    height: 500px;
}

.search-page {
    margin-top: 30px;
    padding-bottom: 120px;
}

.search-form {
    background: #d3d3d3;
    padding: 20px;
    margin-bottom: 30px;
}

.tag-selection {
    height: 300px;
}

.input-div {
    width: 100%;
    margin-bottom: 20px;
}

.search-label {
    font-size: 20px;
    margin-bottom: 5px;
}

.search-text-input {
    width: 100%;
}

.search-form form:first-child {
    margin-bottom: 40px;
}
