

.animation{
    display: flex;
    justify-content: center;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    animation-fill-mode: forwards;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;


    ul{
        list-style: none;
        background-color: rgba(255, 255, 255, 0.76);
        height: auto;
        top: 92%;
        right: 0px;
        position: absolute;
        width: 100%;
        padding-left:40% ;

    }

    p{
       position: center;
    }
    img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    }
}
@media screen and (max-width: 767px) {
    .animation{
        img{
            height: 100%;
            width: auto;
        }
    }
}
