.order-button {
    display: flex;
}

.state-buttons {
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.cluster-page {
    padding: $header-height 25px $footer-height;
}

@media (max-width: 992px) {
    .cluster-page {
        padding: $header-height 0 $footer-height;
    }
}
