/* explore stuff */

.explore {
    margin-top: 30px;
    padding-bottom: 120px;

    .pagination-controls {
        border: 2px solid black;
        padding: 1rem;
        margin: 0;
        margin-bottom: 2rem;
    }

    .sidebar-container {
        height: 100vh;
    }

    .sidebar {
        position: sticky;
        top: 0;
        height: 75%;
        width: 100%;
        padding: 2rem;
        margin-left: 2rem;
        overflow-y: auto; // Allow scroll if content is larger than container
        background-color: $color-turquoise-light;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);
        border: 2px solid #000000;

        .form-group {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            label {
                display: block;
                padding: 2px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;
                margin:0;
                transition: background-color .4s ease;
                background-color: white;
                border: 2px solid black;
            }

            select {
                height: 100%;
                border: 2px solid #000000;
                background-color: $color-turquoise-light;
                transition: background-color .4s ease;
                margin-left: 1rem;

                &:focus {
                    box-shadow: none;
                    background-color: $color-turquoise-light;
                }
            }
        }

        .explainer {
            background-color: white;
            border: 2px solid black;
            padding: 1rem;
        }
    }

    .photos {
        padding-left: 5rem;
        padding-right: 3rem;
        .card {
            border: 2px solid #000000;
            box-shadow: 0 0 40px rgba(51, 51, 51, .1);
            transition: .3s ease-in-out;
            margin: 0;

            &:hover, &:focus {
                background-color: $color-turquoise;
            }

            .card-img-top {
                opacity: 1;
                max-width: 100%;
                height: auto;
            }
        }
    }
}
