body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $font-family-sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#map-container {
    z-index: 1;
    height: 100%;
    position: relative;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
    border: 3px solid lightblue;
    padding: 4px;
    margin-bottom: 1px;
}


.page {
    padding: 0 $side-padding 0;
    flex: 1 0 auto;
}

@media (max-width: 992px) {
    .page {
        padding: 0 $side-padding-mobile 0;
    }
}


.landing-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.landing-text {
    font-size: 20px;
}

.map-square {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    color: black;
}

.map-popup {
    font-family: $font-family-sans-serif;
}

.map-square:hover {
    color: black;
}

#instructionButton {
    z-index: 999;
    position: absolute;
    bottom: 25px;
    right: 5px;
}

.map-grid {
    stroke: lightslategray;
    fill: #777777;
    stroke-width: 2;
    stroke-opacity: 0.5;
    fill-opacity: 0.0;
}

.map-square {
    stroke-width: 2.8;
    fill-opacity: 0.5;
}

.box-one {
    stroke: #FFBEBD;
    fill: #FFBEBD;
}

.box-two {
    stroke: #FF9E9C;
    fill: #FF9E9C;
}

.box-three {
    stroke: #FF7E7A;
    fill: #FF7E7A;
}

.box-four {
    stroke: #FF5D59;
    fill: #FF5D59;
}

.box-five {
    stroke: #FF3D3A;
    fill: #FF3D3A;
}

.home-map {
    width: 100%;
    height: 500px !important;
}
