body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "eina_regular";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#map-container {
    z-index: 1;
    height: 100%;
    position: relative;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
    border: 3px solid lightblue;
    padding: 4px;
    margin-bottom: 1px;
}


.page {
    padding: 0 $side-padding 0;
    flex: 1 0 auto;
}

@media (max-width: 992px) {
    .page {
        padding: 0 $side-padding-mobile 0;
    }
}


.landing-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.landing-text {
    font-size: 20px;
}

.map-square {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    color: black;
}

.map-popup {
    font-family: "eina_regular";
}

.map-square:hover {
    color: black;
}

#instructionButton {
    z-index: 999;
    position: absolute;
    bottom: 25px;
    right: 5px;
}

.map-grid {
    stroke: lightslategray;
    fill: none;
    stroke-width: 2;
    stroke-opacity: 0.5;
}

.map-square {
    stroke-width: 2.8;
    fill-opacity: 0.5;
}

.box-one {
    stroke: #E85285;
    fill: #E85285;
}

.box-two {
    stroke: #C9458B;
    fill: #C9458B;
}

.box-three {
    stroke: #A93790;
    fill: #A93790;
}

.box-four {
    stroke: #8A2995;
    fill: #8A2995;
}

.box-five {
    stroke: #6A1B9A;
    fill: #6A1B9A;
}
