@import "variables";
@import "fonts";

.legend {
    position: absolute;
    background-color: $color-white;
    border: 1px solid $color-black;
    z-index: 999;
    padding: .5em;
    right: 0.5em;
    top: 0.5em;
    color: $color-black;
    text-align: left;
    line-height: 0px;
    font-family: $font-family-bold;

    h6 {
        font-weight: 700;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;

        &:last-child {
            margin-top: 0.5rem;
        }
    }

    .label {
        position: relative;
        font-size: .7em;
        bottom: 0.5em;
    }

    .photos-available-subtext {
        position: absolute;
        bottom: 1.2em;
        right: 1.5em;
        font-size: .55em;
        text-align: center;
    }
}

.legend-square {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.2em;
    cursor: pointer;

    &.photos {
        border: 0.1px solid $color-white;
        background: url("../images/icons/photo_density_legend_icon.svg");
        background-size: cover;
    }
    &.photos.inactive {
        filter: grayscale(60%);
    }

    &.arrondissement {
        background-color: #70D8F1;
        border: 4px solid #00B1DB;
    }
    &.arrondissement.inactive {
        filter: grayscale(60%);
    }
}


