@import "variables";
@import "fonts";

.legend {
    background-color: white;
    border: 1px solid $color-black;
    z-index: 999;
    padding: 0.4em;
    position: absolute;
    text-align: left;
    line-height: 18px;
    color: #555;
    width: 7em;
    overflow-x: scroll;
    right: 0.5em;
    top: 0.5em;

    h6 {
        font-family: $font-family-bold;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    .label {
        font-family: $font-family-bold;
        font-size: .6em;
        position: relative;
        top: 0.3em;
    }
}

.legend-square {
    height: 1em;
    width: 1em;
    cursor: pointer;
    margin-right: 0.2em;

    &.photo {
        border: 1px solid #ffffff;
        background: url("../images/icons/photo_density_legend_icon.svg");
        background-size: cover;
    }
    &.photo.inactive {
        border: 1px solid #ffffff;
        background: url("../images/icons/photo_density_legend_icon.svg");
        background-size: cover;
    }

    &.arrondissement {
        background-color: #70D8F1;
        border: 3px solid #00B1DB;
    }

    &.arrondissement.inactive {
        background-color: $color-mid-gray;
        border: 3px solid #2c4a4f;
    }
}


