.heat-map-info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }
}

.heat-map-info h4 {
    margin: 0 0 5px;
    color: #777;
}

.heat-map-info h6 {
    margin: 0;
}

.heat-map-legend {
    z-index: 999;
    position: absolute;
    text-align: left;
    line-height: 18px;
    color: #555;
    width: 120px;
    right: 0.5em;
    top: 0.5em;
}

.heat-map-legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
