@import "variables";
@import "fonts";

.legend {
    background-color: white;
    border: 1px solid $color-black;
    z-index: 999;
    padding: 0.4em;
    position: absolute;
    text-align: left;
    line-height: 18px;
    color: #555;
    width: 7em;
    overflow-x: scroll;
    right: 0.5em;
    top: 0.5em;

    h6 {
        font-family: $font-family-bold;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    .label {
        font-family: $font-family-bold;
        font-size: .6em;
        position: relative;
        top: 0.3em;
    }
}

.legend-square {
    height: 1em;
    width: 1em;
    cursor: pointer;
    margin-right: 0.2em;

    &.photo {
        background-color: #FF7E7A;
        border: 3px solid $color-red;
    }

    &.photo.inactive {
        background-color: #7e5756;
        border: 3px solid #693a38;
    }

    &.arrondissements {
        border: 3px solid $color-link;
    }

    &.arrondissements.inactive {
        border: 3px solid #6f989d;
    }
}
