.layer-select {
    width: 20%;
    z-index: 999;
    right: 0.5em;
    bottom: 2em;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


#map-container {
    z-index: 1;
    height: calc(100vh - 96px);
    position: relative;
}
.page-body {
    background-color: white;
    font-size: 20px;
    line-height: 28px;
}

.info-text {
    margin-bottom: 0;
}

.info-text-small {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 2em;
}

.info-header-link {
    @extend .link;
    font-family: $font-family-semibold;
    margin-top: 0;
    margin-bottom: 0;
}

@include media-breakpoint-up(lg) {
    #map-page-title {
        margin-bottom: 1.4em;
        margin-top: 1.6em;
        margin-left: -0.35em;
        padding: 0;
    }
}

@include media-breakpoint-between(md, lg) {
    #map-page-title {
        margin-bottom: 1em;
        margin-top: 0.5em;
        margin-left: -0.5em;
        padding: 0;
    }
}

@include media-breakpoint-down(md) {
    #map-page-title {
        margin-bottom: 0;
        margin-top: 0.5em;
        margin-left: 0;
        padding: 0;
    }
}

@include media-breakpoint-down(lg) {
}


.example-photo {
    margin-right: .5em;
    margin-bottom: .5em;
    &:last-child {
        margin-right: 0;
    }
}


#instructionButton {
    z-index: 999;
    position: absolute;
    bottom: 25px;
    right: 5px;
}

.map-grid {
    stroke: $color-mid-gray;
    stroke-width: 1;
    stroke-opacity: 1;
    fill-opacity: 0;
}

.map-square {
    stroke-width: 2;
    fill-opacity: 0.7;
}

.box {
    mix-blend-mode: multiply;
}

.box-one {
    @extend .box;
    stroke: #FFBEBD;
    fill: #FFBEBD;
}

.box-two {
    @extend .box;
    stroke: #FF9E9C;
    fill: #FF9E9C;
}

.box-three {
    @extend .box;
    stroke: #FF7E7A;
    fill: #FF7E7A;
}

.box-four {
    @extend .box;
    stroke: #FF5D59;
    fill: #FF5D59;
}

.box-five {
    @extend .box;
    stroke: #FF3D3A;
    fill: #FF3D3A;
}

.map-selected {
    @extend .box;
    stroke: #ffaaff;
    fill: #ffaaff;
}















