#info-text{
    background-color: white;
}

#map-box{
    background-color: blue;
}

.site-logo{
    position:absolute;
    top: 97%;
    left: 98%;

}

.page-body{
    background-color: #8A2995;
    max-height: 100%;
}
