.stamen-attrib {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 999;
    padding: 0.6em;
    left: 0em;
    top: 0em;
    color: $color-white;
    text-align: left;
    line-height: 0px;
    font-size: 12px;
    font-family: $font-family-sans-serif;

    a {
        color: white;
    }
}
