.photo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: black;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.current-photo {
    max-height: 100%;
    max-width: 100%;
}

.photographer-name {
    font-size: 60px;
    color: $color-red;
}
