.image-photo {
    width: 100%;
}

line {
    stroke: red;
    stroke-width: 1;
}

.position-top-left {
    position: relative;
    top: 0;
    left: 0;
}

circle {
    stroke: cyan;
    stroke-width: 2;
    fill: none;
}

rect {
    fill: black;
}

.boundingBox {
    fill: none !important;
    stroke: cyan;
    stroke-width: 2;
}

.label {
    fill: white;
    font-size: 20px;
}

.boxGroup {
    opacity: 0;
}

.boxGroup rect {
    pointer-events: all;
}

.boxGroup:hover {
    opacity: 1;
}

.boxGroup rect:hover {
    fill: blueviolet !important;
    fill-opacity: 0.25;
}

.outsideBox {
    stroke: cyan;
    stroke-width: 2;
    fill: none;
    pointer-events: all;
}

.center-btn {
    text-align: center;
    position: relative;
}

.navButton {
    text-decoration: none;
    display: inline-block;
    color: gray;
    font-size: 50px;
}

.navButton:hover {
    color: black;
    text-decoration: none;
}

.center {
    margin: auto;
}

.caption {
    display: inline-block;
}

.content {
    flex: 1 0 auto;
}

.map-square {
    padding-left: 10px;
}

.side-button {
    font-size: 18px;
    font-weight: 600;
    border: 0.17em solid;
    padding: 0.1em 0.5em;
    background-color: white;
    margin-top: .6em;
}

.side-button:hover {
    background-color: $color-turquoise;
}

.tag-button {
    font-size: 16px;
    border: .08em solid $color-orange;
    padding: .125em 1em;
    margin: 0.5em 0.75em 1em 0em;
    background-color: white;
}

.tag-button:hover {
    color: white;
    background-color: $color-orange;
}

.photo-sort-dropdown-button {
    font-size: 16px;
    border-width: 0em;
    border-bottom: 0.125em solid black;
    padding: 0em 1.38em 0em 0em;
    margin: 0.31em;
    border-radius: 0em;
    background-color: white;
    color: #5E5F5F;
}

.photo-sort-dropdown-menu {
    font-size: 16px;
    border-width: 0em;
    padding: 0.125em 1.5em;
    margin: 0.31em;
    border-radius: 1em;
    background-color: $color-turquoise;
    color: white;
}

.analysis-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.image-box {
    position: relative;
    padding: 1em;
    background-color: black;
}

.slider-photo {
    max-width: 110px;
    margin-left: .1em;
    margin-right: .1em;
}

.slider-photos {
    display: flex;
    margin: 1em;
    flex-direction: row;
    overflow: auto;
    scroll-behavior: smooth;
}

.photos-box {
    display: flex;
    flex-direction: row;
    background-color: black;
    position: relative;
}

.slider-photos::-webkit-scrollbar {
    display: none;
}

.slider-scroll {
    background-color: black !important;
    color: $color-turquoise !important;
    font-size: 2em;
}

.slider-scroll-left {
    @extend .slider-scroll;
}

.slider-scroll-right {
    @extend .slider-scroll;
    right: 0;
    height: 100%;
    position: absolute;
}

.current-map-square {
    stroke-width: 2.8;
    fill-opacity: 0.1;
}

.single-photo-map {
    width: 24em;
    height: 12em !important;
}

.photo-link {
    color: $color-link;
    font-weight: 600;
}

.photo-link:hover {
    color: $color-orange;
}

.expand-icon {
    position: absolute;
    top: -3px;
    right: 0;
    margin-top: .5em;
    margin-bottom: .5em;
}
