.image-photo {
    width: 100%;
}

line {
    stroke: red;
    stroke-width: 1;
}

.position-top-left {
    position: relative;
    top: 0;
    left: 0;
}

circle {
    stroke: cyan;
    stroke-width: 2;
    fill: none;
}

rect {
    fill: black;
}

.boundingBox {
    fill: none !important;
    stroke: cyan;
    stroke-width: 2;
}

.label {
    fill: white;
    font-size: 20px;
}

.boxGroup {
    opacity: 0;
}

.boxGroup rect {
    pointer-events: all;
}

.boxGroup:hover {
    opacity: 1;
}

.boxGroup rect:hover {
    fill: blueviolet !important;
    fill-opacity: 0.25;
}

.outsideBox {
    stroke: cyan;
    stroke-width: 2;
    fill: none;
    pointer-events: all;
}

.centerBtn {
    text-align: center;
}

.navButton {
    text-decoration: none;
    display: inline-block;
    color: gray;
    font-size: 50px;
}

.navButton:hover {
    color: black;
    text-decoration: none;
}

.center {
    margin: auto;
}

.top-button {
    position: relative;
}

.caption {
    display: inline-block;
}

.content {
    flex: 1 0 auto;
}

.map-square {
    padding-left: 10px;
}

.side-button {
    font-size: 18px;
    font-weight: 500;
    border: 2px solid;
    padding: 2px 10px;
    background-color: white;
}

.side-button:hover {
    background-color: #20CCD7;
}

.tag-button {
    font-size: 16px;
    border: 2px solid #FB2F2A;
    padding: 2px 24px;
    margin: 5px;
    background-color: white;
}

.tag-button:hover {
    background-color: #f6afae;
}

.image-border {
    padding: 25px;
    background-color: black;
}


.photo-sort-dropdown-button {
    font-size: 16px;
    border-width: 0px;
    border-bottom: 2px solid black;
    padding: 0px 22px 0px 0px;
    margin: 5px;
    border-radius: 0px;
    background-color: white;
    color: #5E5F5F;
}


.photo-sort-dropdown-menu {
    font-size: 16px;
    border-width: 0px;
    padding: 2px 24px;
    margin: 5px;
    border-radius: 15px;
    background-color: #00B1DB;
    color: white;
}
