a{
    text-decoration: none;
    color: black;
}
.arrow{
    position: relative;
    font-size: 72px;
    font-family: "Segoe UI Symbol";
    font-weight: 200;
    margin-left: 349px;

}

.photo-archive {
    background-color: #00BFE1;
    max-height: 397px;
    column-rule: black 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

}

.map-section {
    background-color: #FF6C6C;
    max-height: 397px;
    column-rule: black 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.context {
    background-color: rgba(95, 90, 98, 0.29);
    max-height: 397px;
    column-rule: black 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.shadow {
   -moz-box-shadow:    inset 0 0 30px #000000;
   -webkit-box-shadow: inset 0 0 30px #000000;
   box-shadow:         inset 0 0 30px #000000;
}

.text {
    text-align-all: center;
    border-inline: 1px solid black;
    padding-top: 45px;
    padding-left: 37px;
    h5{
        margin-bottom: 15px;
    }
    p{
        font-weight: normal;
        font-size:24px;
        margin-bottom: 150px;
    }
}

.photo {
    height: 397px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    mix-blend-mode: multiply;
}
