@include media-breakpoint-up(lg) {
    .red-rectangle-side-decorator {
        display: inline-block;
        position: absolute;
        top: 19%;
        left: 17%;
        width: 83%;
        height: 80%;
        background: #FF6C6C;
        opacity: 50%;
    }

    .blue-rectangle-side-decorator {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 56%;
        height: 57%;
        background: #70D8F1;
        opacity: 50%;
    }

    .parent-bounding-box-side-decorator {
        width: 2.8em;
        height: 2.6em;
    }

    .red-rectangle-title-decorator {
        display: inline-block;
        position: absolute;
        top: 2%;
        left: 88.5%;
        width: 1em;
        height: 1em;
        background: #FF6C6C;
        mix-blend-mode: multiply;
    }

    .blue-rectangle-title-decorator {
        position: absolute;
        top: 20%;
        left: 0;
        display: inline-block;
        width: 92%;
        height: 100%;
        background: #70D8F1;
        mix-blend-mode: multiply;
    }

    .parent-bounding-box-title-decorator {
        width: 10.5em;
        height: 1.8em;
    }
}

@include media-breakpoint-between(md, lg) {
    .red-rectangle-title-decorator {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 89%;
        width: 1em;
        height: 1em;
        background: #FF6C6C;
        mix-blend-mode: multiply;
    }

    .blue-rectangle-title-decorator {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 92%;
        height: 100%;
        background: #70D8F1;
        mix-blend-mode: multiply;
    }

    .parent-bounding-box-title-decorator {
        width: 10.5em;
        height: 1.8em;
    }
}

@include media-breakpoint-down(md) {
    .red-rectangle-title-decorator {
        display: none;
    }

    .blue-rectangle-title-decorator {
        position: absolute;
        top: 45%;
        left: 31%;
        display: inline-block;
        width: 92%;
        height: 100%;
        background: #70D8F1;
        opacity: 80%;
        mix-blend-mode: multiply;
    }

    .parent-bounding-box-title-decorator {
        width: 3.2em;
        height: 1em;
    }
}
