$color-black: #000000;
$color-white: #ffffff;
$color-turquoise: #20CCD7;
$color-red: #FB2F2A;
$color-mid-gray: #5E5F5F;
$color-link: #3295B8;
$color-turquoise-light: #EBF3F4;
$color-gray-light: #E6E6E6;

.link {
    font-weight: 500;
    text-decoration: underline;
    color: $color-link;
    display: inline;
}

