.image-photo {
    width: 100%;
}

line {
    stroke: red;
    stroke-width: 1;
}

.positionTopLeft {
    position: absolute;
    top: 0px;
    left: 0px;
}

circle {
    stroke: cyan;
    stroke-width: 2;
    fill: none;
}

rect {
    fill: black;
}

.boundingBox {
    fill: none !important;
    stroke: cyan;
    stroke-width: 2;
}

.label {
    fill: white;
    font-size: 20px;
}

.boxGroup {
    opacity: 0;
}

.boxGroup rect {
    pointer-events: all;
}

.boxGroup:hover {
    opacity: 1;
}

.boxGroup rect:hover {
    fill: blueviolet !important;
    fill-opacity: 0.25;
}

.outsideBox {
    stroke: cyan;
    stroke-width: 2;
    fill: none;
    pointer-events: all;
}

.centerBtn {
    text-align: center;
}

.navButton {
    text-decoration: none;
    display: inline-block;
    color: gray;
    font-size: 50px;
}

.navButton:hover {
    color: black;
    text-decoration: none;
}

.center {
    margin: auto;
}

.caption {
    display: inline-block;
}
