.image-photo {
    width: 100%;
}
line {
    stroke: red;
    stroke-width: 1;
}

.positionTopLeft {
    position: absolute;
    top: 0px;
    left: 0px;
}

circle {
    stroke: cyan;
    stroke-width: 2;
    fill: none;
}

rect {
    fill: black;
}

.boundingBox {
    fill: none !important;
    stroke: cyan;
    stroke-width: 2;
}

.label {
    fill: white;
    font-size: 17px;
}
