
<nav role="navigation"
     class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <image src="/static/nav.svg" height=80 width=80/>
        <a class="navbar-brand" href="/">
            <b>This Was Paris in 1970</b>
        </a>
        <button type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav dropdown-menu-end">
                <li>
                    <a class="nav-link" href="/map/">Map</a>
                </li>
                <li>
                    <a class="nav-link" href="/explore/">Explore</a>
                </li>
                <li>
                    <a class="nav-link" href="/blog/">Articles</a>
                </li>
                <li>
                    <a class="nav-link" href="/about/">About</a>
                </li>
            </ul>
        </div>
    </div>



</nav>
