{% include "base.html" %}
{% block content %}
    <div class="blog" id="app_root">
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-8">
                    {{ post.content | safe }}
                </div>
                <div>
                    Blog page not found.
                    <a class="col-lg-8" href="/blog">
                        Return to Blog Home
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
