{% extends 'base.html' %}
{% block content %}

    <!-- Page Content-->
    <div class="container blog-home" id="app_root">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8 ">
                <h2 style="text-align: justify; margin-top: 50px">Blog</h2>
                <!-- Featured blog post-->
                {% for post in posts %}
                    {% if post.published %}
                        <div class="card mb-4 border-0">
                            <div class="card-body">
                                <a href={{ post.get_absolute_url }}>
                                    <h1 class="card-title">
                                        {{ post.title|truncatewords:4 }}
                                    </h1>
                                </a>
                                <h5 style="color: #3295B8">{{ post.author }} <small
                                    class="text-muted">{{ post.published }}</small></h5>
                                <p class="card-text " style="max-width:660px; max-height:226px;">
                                    {{ post.content | safe |truncatewords:100 }}
                                </p>
                                <a class="stretched-link text-decoration-none text-uppercase "
                                   href="/blog/{{ post.slug }}"
                                   style="color: #3295B8 ;font-weight:500">Read more</a>
                                <div class="list-inline mb-4 mt-3">
                                    {% for tag in post.tags.get_queryset %}
                                        <a class="btn btn-secondary" href="#"
                                           role="button">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% include "./includes/blog-sidebar.html" %}
        </div>
    </div>
{% endblock %}
