h1 {
    color: black;
}

.display-box {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}

.analysis-page {
    padding: $header-height 25px $footer-height;
}
