{% load cms_tags static sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{#        <link rel="stylesheet" href="/static/backend/templates/local_styles.css">#}
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
{#        <div class="container-fluid">#}
{#            <div class="navbar navbar-light bg-light" role="navigation">#}
{#                <div class="navbar-header">#}
{#                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                        <span class="navbar-toggler-icon"></span>#}
{#                    </button>#}
{#                    <div class="nav-test">#}
{#                        <a class="navbar-brand" href="/">This Was Paris in 1970</a>#}
{#                        <a class="navbar-toggler" href="/blog">Blog Home</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                    <ul class="navbar-nav mr-auto">#}
{#                        {% show_menu 0 1 100 100 "menu.html" %}#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            {% block content %}{% endblock content %}#}
{#        </div>#}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">This Was Paris in 1970</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/blog">Blog Home <span class="sr-only">(current)</span></a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link</a>#}
{#                    </li>#}
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        Pages#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <ul class="navbar-nav mr-auto">#}
{#                                {% show_menu 0 1 100 100 "menu.html" %}#}
{#                            </ul>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link disabled" href="#">Disabled</a>#}
{#                    </li>#}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
{#        <ul class="navbar-nav mr-auto">#}
{#            {% show_menu 0 1 100 100 "menu.html" %}#}
{#        </ul>#}
{#        <li class="nav-item dropdown nav-test">#}
{#            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#            Pages#}
{#            </a>#}
{#            <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                <ul class="navbar-nav mr-auto">#}
{#                    {% show_menu 0 1 100 100 "menu.html" %}#}
{#                </ul>#}
{#            </div>#}
{#        </li>#}
        <div class="container-fluid">
            <div class="navbar-light bg-light" role="navigation">
                <ul class="navbar-nav mr-auto">
                    {% show_menu 0 1 100 100 "menu.html" %}
                </ul>
            </div>
            {% block content %}{% endblock content %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
        {% render_block "js" %}
    </body>
</html>

